* {
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  overflow-x: hidden;
  width: 100%;
}


::-webkit-scrollbar-thumb {
  background: #49BBBD !important; 
  border-radius: 6px !important;
}
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1; 
}



.container {
  max-width: 100%;
  margin: 0 auto;
}

a{
  text-decoration: none;
  color: black;
}


.instagramIcon {
  color: orange;
}
.scrollToTop{
  background-color: #49BBBD !important;
  border-radius: 50% !important;
  display: flex;
  align-items: center;
  justify-content: center;
}

.upArrow{
  color: white !important;
}

.react-datepicker{
  border: none !important;
  background-color: none !important;
}
.react-datepicker__header{
  background: none !important;
  border: none !important;
}
.curve {
  border-radius: 0 0 100% 100% / 0 0 30% 30% !important;
}
[data-sonner-toast][data-type="success"] svg {
  color: #49BBBD !important;
}
[data-sonner-toast][data-type="error"] svg {
  color: red !important;
}